{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
    <div class="right_col" role="main">
      <div class="">

        <div class="page-title">
          <div class="title_left">
            <h3>BITACORA</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Editar servicio</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="" method="post">{% csrf_token %}
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ compania.id_for_label }}">Compañía </label>
                            <div class="col-md-4">
                                {{ form.compania }}
                            </div>
                            <div class="col-md-4">
                                {{ form.compania.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ maquina.id_for_label }}">Máquina </label>
                            <div class="col-md-4">
                                {{ form.maquina }}
                            </div>
                            <div class="col-md-4">
                                {{ form.maquina.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ conductor.id_for_label }}">Conductor </label>
                            <div class="col-md-4">
                                {{ form.conductor }}
                            </div>
                            <div class="col-md-4">
                                {{ form.conductor.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ cliente.id_for_label }}">Cliente </label>
                            <div class="col-md-4">
                                {{ form.cliente }}
                            </div>
                            <div class="col-md-4">
                                {{ form.cliente.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ fecha.id_for_label }}">Fecha </label>
                            <div class="col-md-4">
                                {{ form.fecha }}
                            </div>
                            <div class="col-md-4">
                                {{ form.fecha.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ hora_llegada.id_for_label }}">Hora Llegada </label>
                            <div class="col-md-4">
                                {{ form.hora_llegada }}
                            </div>
                            <div class="col-md-4">
                                {{ form.hora_llegada.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ hora_salida.id_for_label }}">Hora Salida </label>
                            <div class="col-md-4">
                                {{ form.hora_salida }}
                            </div>
                            <div class="col-md-4">
                                {{ form.hora_salida.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ clave.id_for_label }}">Clave </label>
                            <div class="col-md-4">
                                {{ form.clave }}
                            </div>
                            <div class="col-md-4">
                                {{ form.clave.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ hodometro_salida.id_for_label }}">Hodometro Salida </label>
                            <div class="col-md-4">
                                {{ form.hodometro_salida }}
                            </div>
                            <div class="col-md-4">
                                {{ form.hodometro_salida.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ hodometro_llegada.id_for_label }}">Hodometro Llegada </label>
                            <div class="col-md-4">
                                {{ form.hodometro_llegada }}
                            </div>
                            <div class="col-md-4">
                                {{ form.hodometro_llegada.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ kilometraje_salida.id_for_label }}">Kilometraje Salida </label>
                            <div class="col-md-4">
                                {{ form.kilometraje_salida }}
                            </div>
                            <div class="col-md-4">
                                {{ form.kilometraje_salida.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ kilometraje_llegada.id_for_label }}">Kilometraje Llegada </label>
                            <div class="col-md-4">
                                {{ form.kilometraje_llegada }}
                            </div>
                            <div class="col-md-4">
                                {{ form.kilometraje_llegada.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ observciones.id_for_label }}">Observaciones </label>
                            <div class="col-md-4">
                                {{ form.observciones }}
                            </div>
                            <div class="col-md-4">
                                {{ form.observciones.errors }}
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button id="boton_tipo" type="submit" class="btn btn-success">Guardar</button>
                          <button type="button" id="limpiar" class="btn btn-default">Limpiar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
        <!-- /page content -->

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {
        $('#fecha').datepicker();
      });
    </script>

    <script>
    /*$('#id_monto').priceFormat({
        prefix: '',
        centsSeparator: ',',
        thousandsSeparator: '.',
        centsLimit: 0
    });*/
    </script>

{% endblock %}