{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
    <div class="right_col" role="main">
      <div class="">

        <!--<div class="page-title">
          <div class="title_left">
            <h3>BITACORA</h3>
          </div>
        </div>-->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Datos nuevo servicio</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form id="form_bitacora" data-parsley-validate class="form-horizontal form-label-left" action="" method="post">{% csrf_token %}
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-4">
                                <label style="text-align:left;" class="control-label col-sm-4" for="{{ compania.id_for_label }}">Compañía </label>
                                {{ form.compania }}
                                {{ form.compania.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label style="text-align:left;" class="control-label col-sm-4" for="{{ maquina.id_for_label }}">Máquina </label>
                                {{ form.maquina }}
                                {{ form.maquina.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label style="text-align:left;" class="control-label col-sm-4" for="{{ conductor.id_for_label }}">Conductor </label>
                                {{ form.conductor }}
                                {{ form.conductor.errors }}
                            </div>
                        </div>
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-4">
                                <label style="text-align:left;" class="control-label col-sm-4" for="{{ direccion.id_for_label }}">Direccion </label>
                                {{ form.direccion }}
                                {{ form.direccion.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ fecha.id_for_label }}">Fecha </label>
                                {{ form.fecha }}
                                {{ form.fecha.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ clave.id_for_label }}">Clave </label>
                                {{ form.clave }}
                                {{ form.clave.errors }}
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ hora_salida.id_for_label }}">Hora Despacho </label>
                                {{ form.hora_salida }}
                                {{ form.hora_salida.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ hora_llegada.id_for_label }}">Hora 6-10 </label>
                                {{ form.hora_llegada }}
                                {{ form.hora_llegada.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ hodometro_salida.id_for_label }}">Hodometro Salida </label>
                                {{ form.hodometro_salida }}
                                {{ form.hodometro_salida.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-md-12" for="{{ hodometro_llegada.id_for_label }}">Hodometro Regreso </label>
                                {{ form.hodometro_llegada }}
                                {{ form.hodometro_llegada.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ kilometraje_salida.id_for_label }}">Kilometraje Salida </label>
                                {{ form.kilometraje_salida }}
                                {{ form.kilometraje_salida.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ kilometraje_llegada.id_for_label }}">Kilometraje Regreso </label>
                                {{ form.kilometraje_llegada }}
                                {{ form.kilometraje_llegada.errors }}
                            </div>
                        </div>
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-8">
                                <label style="text-align:left;" class="control-label col-sm-6" for="{{ observciones.id_for_label }}">Observaciones </label>
                                {{ form.observciones }}
                                {{ form.observciones.errors }}
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button id="boton_tipo" type="submit" class="btn btn-success" onclick="enviar()">Ingresar</button>
                          <button type="button" id="limpiar" class="btn btn-default">Limpiar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
        <!-- /page content -->

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--smart-selects-->
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>


<!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/datatables.scroller.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {

        $('#id_maquina').addClass('form-control');
        $('#id_conductor').addClass('form-control');

        $('#fecha').datepicker({format: "yyyy-mm-dd"});
        //$('#hora_sal').datetimepicker({format: "HH:mm"});
        //$('#hora_lle').datetimepicker({format: "HH:mm"});

      });
    </script>

    <script>

    $("#id_maquina").change(function(){
        var maquina = this.value;
        if(maquina !== ""){
            var datos_form = $("#form_bitacora :hidden").serialize();
            var datos = datos_form+"&maquina="+maquina;
            console.log(datos);
            $.ajax({
                url: "{% url 'get_parametros_maquina' %}",
                type: "POST",
                data: datos,
                success: function (data) {
                    $("#id_kilometraje_salida").empty();
                    $("#id_hodometro_salida").empty();
                    for(var i in data.parametros) {
                        if(data.parametros[i].kilometraje !== null && data.parametros[i].hodometro !== null){
                            $("#id_kilometraje_salida").val(data.parametros[i].kilometraje);
                            $("#id_hodometro_salida").val(data.parametros[i].hodometro);
                        }
                        else{
                            $("#id_kilometraje_salida").val("");
                            $("#id_hodometro_salida").val("");
                        }
                        
                        console.log(data.parametros[i].kilometraje);  // (o el campo que necesites)
                    }
                }
            });
        }
    });

    function commaSeparateNumber(valor){
        while (/(\d+)(\d{3})/.test(valor.toString())){
          valor = valor.toString().replace(/(\d+)(\d{3})/, '$1'+'.'+'$2');
        }
        return valor;
    }

    /*$('#id_monto').priceFormat({
        prefix: '',
        centsSeparator: ',',
        thousandsSeparator: '.',
        centsLimit: 0
    });*/


    </script>

{% endblock %}