
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <iframe id="txtArea1" style="display:none"></iframe>
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 id="titulo">Cargas de Combustible </h2>
                      <ul class=" nav navbar-right panel_toolbox">
                        <li><button type="button" onclick="location.href='{% url 'combustible_create' %}';" class="btn btn-success">nueva carga</button>
                        </li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                    <div class="x_content">
                  </div>
                  <button id="btnExport" class="btn btn-dark" onclick="fnExcelReport();">Exportar Excel</button>
                    <table id="datatable-responsive" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Servicio</th>
                          <th>Maquina</th>
                          <th>Fecha</th>
                          <th>Litros</th>
                          <th>Servicentro</th>
                          <th>km Salida</th>
                          <th>Km Regreso</th>
                          <th>Hr motor Salida</th>
                          <th>Hr motor Regreso</th>
                          <th>Hr Bomba Salida</th>
                          <th>Hr Bomba Regreso</th>
                          <th>Valor</th>
                          <th>Conductor</th>
                          <th>OBAC</th>
                        </tr>
                      </thead>

                      <tbody>

                        {% for carga in object_list %}
                        <tr>
                            <td><a style="color: orangered;text-decoration: underline;" href="{{ carga.get_absolute_url }}">Ver</a></td>
                            <td align="center">{{ carga.servicio.id }}</td>
                            <td>{{ carga.maquina }}</td>
                            <td>{{ carga.fecha|date:"d-m-Y" }}</td>
                            <td>{{ carga.litros }}</td>
                            <td>{{ carga.servicentro }}</td>
                            <td align="right">{{ carga.km_salida }}</td>
                            <td align="right">{{ carga.km_regreso }}</td>
                            <td align="right">{{ carga.hm_salida }}</td>
                            <td align="right">{{ carga.hm_regreso }}</td>
                            <td align="right">{{ carga.ho_bomba_salida }}</td>
                            <td align="right">{{ carga.ho_bomba_regreso }}</td>
                            <td align="right">{{ carga.valor }}</td>
                            <td>{{ carga.conductor }}</td>
                            <td>{{ carga.obac }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Datatables -->
    <script>

        $(document).ready(function() {
            $('#datatable-responsive').DataTable({
              'searching': false,
              "paging":   false,
              "info":     false,
              scrollY: 400,
              scrollCollapse: true,
              scrollX: true,
            });
        });
    </script>

    <script>

       function fnExcelReport()
      {
          var tab_text="<table border='2px'><tr>";
          var textRange; var j=0;
          tab = document.getElementById('datatable-responsive'); // id of table

          for(j = 0 ; j < tab.rows.length ; j++) 
          {     
              tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
              //tab_text=tab_text+"</tr>";
          }

          tab_text=tab_text+"</table>";
          tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
          tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
          tab_text= tab_text.replace(/<div[^>]*>|<\/div>/g, ""); // remove if u want div in your table
          tab_text= tab_text.replace(/padding-top: 0px;/gi,"");
          tab_text= tab_text.replace(/padding-bottom: 0px;/gi,"");
          tab_text= tab_text.replace(/border-top-width: 0px;/gi,"");
          tab_text= tab_text.replace(/border-bottom-width: 0px;/gi,"");
          tab_text= tab_text.replace(/height: 0px;/gi,"");
          tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

          var ua = window.navigator.userAgent;
          var msie = ua.indexOf("MSIE "); 

          if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
          {
              txtArea1.document.open("txt/html","replace");
              txtArea1.document.write(tab_text);
              txtArea1.document.close();
              txtArea1.focus(); 
              sa=txtArea1.document.execCommand("SaveAs",true,"cargas_combustible.xls");
          }  
          else
            //other browser not tested on IE 11
            /*var a = document.createElement('a');
            var data_type = 'data:application/vnd.ms-excel';;
            a.href = data_type + ', ' + escape(tab_text);
            a.download = 'cargas_combustible.xls';
            a.click();*/

            sa = window.open('data:application/vnd.ms-excel,' + escape(tab_text));

          return (sa);
      }
    </script>

    <!-- /Datatables -->

{% endblock content %}
