
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Carga de Combustible </h2>
                      <ul class=" nav navbar-right panel_toolbox">
                        <li><button type=button onclick="location.href='{% url 'combustible_create' %}';" class="btn btn-success">Nueva carga</button>
                        </li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                    <div class="x_content">
                  </div>
                  <div class="x_content" id="dvData">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Maquina</th>
                          <th>Fecha</th>
                          <th>Litros</th>
                          <th>Servicentro</th>
                          <th>km Salida</th>
                          <th>Km Regreso</th>
                          <th>Hr motor Salida</th>
                          <th>Hr motor Regreso</th>
                          <th>Hr Bomba Salida</th>
                          <th>Hr Bomba Regreso</th>
                          <th>Valor</th>
                          <th>Conductor</th>
                          <th>OBAC</th>
                        </tr>
                      </thead>


                      <tbody>

                        {% for carga in object_list %}
                        <tr>
                            <td></td>
                            <td><a style="color: orangered;text-decoration: underline;" href="{{ carga.get_absolute_url }}">{{ carga.maquina }}</a></td>
                            <td>{{ carga.fecha }}</td>
                            <td>{{ carga.litros }}</td>
                            <td>{{ carga.servicentro }}</td>
                            <td align="right">{{ carga.km_salida }}</td>
                            <td align="right">{{ carga.km_regreso }}</td>
                            <td align="right">{{ carga.hm_salida }}</td>
                            <td align="right">{{ carga.hm_regreso }}</td>
                            <td align="right">{{ carga.ho_bomba_salida }}</td>
                            <td align="right">{{ carga.ho_bomba_regreso }}</td>
                            <td align="right">{{ carga.valor }}</td>
                            <td>{{ carga.conductor }}</td>
                            <td>{{ carga.obac }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Datatables -->
    <script>

        $(document).ready(function() {
          $('#datatable-responsive').DataTable({
            'searching':false,
          });

          

        });
    </script>

    <script>

      $("#btnExport").click(function (e) {
          window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
          e.preventDefault();
      });

    </script>

    <!-- /Datatables -->

{% endblock content %}
