
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Conductores </h2>
                    {% if perms.maintenance.add_conductor %}
                      <ul class=" nav navbar-right panel_toolbox">
                        <li><button type=button onclick="location.href='{% url 'conductor_create' %}';" class="btn btn-success">Nuevo Conductor</button>
                        </li>
                      </ul>
                    {% endif %}
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  </div>
                  <div>
                    <form id="form-busqueda" data-parsley-validate class="form-horizontal form-label-left" action="" method="post">{% csrf_token %}
                      <div class="form-group pull-in clearfix">
                        <div class="col-sm-3">
                          <select class="form-control" name="compania" id="compania">
                            <option value="">Elegir Compania</option>
                            {% for compania in companias_list %}
                              {% if compania.id == datos_list.compania %}
                                <option value="{{ compania.id }}" selected="selected">{{ compania }}</option>
                              {% else %}
                                <option value="{{ compania.id }}">{{ compania }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <button type="submit" class="btn btn-success">Aplicar Filtro</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Rut</th>
                          <th>Compañía</th>
                          <th>Número licencia</th>
                          <th>Vencimiento licencia</th>
                        </tr>
                      </thead>


                      <tbody>

                        {% for conductor in object_list %}
                        <tr>
                            <td></td>
                            <td><a style="color: orangered;text-decoration: underline;" href="{{ conductor.get_absolute_url }}">{{ conductor.nombre }} {{ conductor.ap_paterno }}</a></td>
                            <td>{{ conductor.rut|default_if_none:"--" }}</td>
                            <td>{{ conductor.compania }}</td>
                            <td>{{ conductor.num_licencia|default_if_none:"--" }}</td>
                            <td>{{ conductor.venc_lic|default_if_none:"--" }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Datatables -->
    <script>

        $(document).ready(function() {
            $('#datatable-responsive').DataTable({
              'searching':false
            });
        });
    </script>


    <!-- /Datatables -->

{% endblock content %}
