{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
    <div class="right_col" role="main">
      <div class="">

        <!--<div class="page-title">
          <div class="title_left">
            <h3>BITACORA</h3>
          </div>
        </div>-->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Datos nueva mantención</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form id="form_mantencion" data-parsley-validate class="form-horizontal form-label-left" action="" method="post">{% csrf_token %}
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ fecha.id_for_label }}">Fecha </label>
                                {{ form.fecha }}
                                {{ form.fecha.errors }}
                            </div>
                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ maquina.id_for_label }}">Máquina </label>
                                {{ form.maquina }}
                                {{ form.maquina.errors }}
                            </div>
                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ kilometraje.id_for_label }}">Kilometraje </label>
                                {{ form.kilometraje }}
                                {{ form.kilometraje.errors }}
                            </div>
                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ hodometro.id_for_label }}">Hodometro </label>
                                {{ form.hodometro }}
                                {{ form.hodometro.errors }}
                            </div>
                        </div>
                        <div class="form-group pull-in clearfix">

                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ tipo_mantencion.id_for_label }}">Tipo mantencion </label>
                                {{ form.tipo_mantencion }}
                                {{ form.tipo_mantencion.errors }}
                            </div>
                            <div class="col-sm-5">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ servicio.id_for_label }}">Servicio </label>
                                {{ form.servicio }}
                                {{ form.servicio.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ cod_man.id_for_label }}">Código mantención</label>
                                {{ form.cod_man }}
                                {{ form.cod_man.errors }}
                            </div>
                        </div>
                        <!--<div class="ln_solid"></div>-->
                        <div class="form-group pull-in clearfix">

                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-12" for="{{ num_factura.id_for_label }}">Nº factura </label>
                                {{ form.num_factura }}
                                {{ form.num_factura.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-sm-6" for="{{ valor.id_for_label }}">Valor</label>
                                {{ form.valor }}
                                {{ form.valor.errors }}
                            </div>
                            <div class="col-sm-2">
                                <label style="text-align:left;" class="control-label col-md-6" for="{{ taller.id_for_label }}">Taller </label>
                                {{ form.taller }}
                                {{ form.taller.errors }}
                            </div>
                            <div class="col-sm-5">
                                <label style="text-align:left;" class="control-label col-sm-6" for="{{ responsable.id_for_label }}">Responsable </label>
                                {{ form.responsable }}
                                {{ form.responsable.errors }}
                            </div>

                        </div>
                        <div class="form-group pull-in clearfix">

                            <div class="col-sm-3">
                                <label style="text-align:left;" class="control-label col-sm-4" for="{{ observacion.id_for_label }}">Observacion </label>
                                {{ form.observacion }}
                                {{ form.observacion.errors }}
                            </div>

                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button id="boton_form" type="submit" class="btn btn-success">Ingresar</button>
                        </div>
                    </form>
                  </div>
                  <div class="x_title" >
                    <h2>Ingreso detalle</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-xs-4 col-md-4">
                    <form id="form_mantencion_detalle" data-parsley-validate class="form-horizontal form-label-left" action="" method="post" >{% csrf_token %}
                        <div class="form-group pull-in clearfix">
                                {{ detalle_form.mantencion }}
                            <div class="col-sm-12">
                                <label style="text-align:left;" class="control-label col-sm-6" for="{{ componente.id_for_label }}">Componente</label>
                                {{ detalle_form.componente }}
                                {{ detalle_form.componente.errors }}
                            </div>
                            <div id="prox_man" class="col-sm-12">
                                <label style="text-align:left;" class="control-label col-sm-6" for="{{ hodometro_prox_man.id_for_label }}">Prox.Mantención </label>
                                {{ detalle_form.hodometro_prox_man }}
                                {{ detalle_form.hodometro_prox_man.errors }}
                            </div>
                        </div>
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-12">
                                <label style="text-align:left;" class="control-label col-md-6" for="{{ des_detalle.id_for_label }}">Descripcion detalle </label>
                                {{ detalle_form.des_detalle }}
                                {{ detalle_form.des_detalle.errors }}
                            </div>
                        </div>
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-12">
                                <label style="text-align:left;" class="control-label col-sm-6" for="id_repuesto">Repuestos </label>
                                <input type="text" name="repuesto" class="form-control" maxlength="45" id="id_repuesto" />
                            </div>
                        </div>
                         <div id="before" class="form-group pull-in clearfix">
                            <div class="col-sm-12">
                                <button type="button" id="repuesto_add"><i class="fa fa-plus"></i></button>
                                <button type="button" id="repuesto_less"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button id="boton_form_detalle_add" type="submit" class="btn btn-success">Agregar detalle</button>
                        </div>
                    </form>
                    </div>
                      <div class="col-xs-8 col-md-8">
                          <div class="table-responsive">
                            <table class="table" id="tabla_detalle">


                              <tbody>
                                <tr>
                                  <th>Componente</th>
                                  <th>Descripción</th>
                                  <th>Repuestos</th>
                                  <th>Prox. Mantencion</th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                  </div>
                  <div class="x_content">
                      <div class="ln_solid"></div>
                        <div class="form-group col-md-12 col-sm-6 col-xs-12">
                            <div align="right"><button id="finalizar" type="button" class="btn btn-success">Finalizar mantención</button></div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
        <!-- /page content -->


    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--smart-selects-->
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/datatables.scroller.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {
        $('#id_servicio').addClass('form-control');

        $('#fecha').datepicker({format: "yyyy-mm-dd"});

        $("#form_mantencion_detalle").find('input, textarea, button, select').attr('disabled',true);
        $("#prox_man").hide();
      });
    </script>

    <script>


        $("#form_mantencion").on( "submit", function( event ) {
          event.preventDefault();
          var datos =  $( this ).serialize();
          console.log(datos);
          $.ajax({
            //url: "http://localhost:8000/mantencion/add/",
            url: "{% url 'mantencion_create' %}",
            type: "POST",
            data: datos,
            success:function(data){
                console.log(data);
                $("#id_mantencion").val(data['pk']);
                //-->NECESARIO $("#id_mantencion_detalle").val(data['pk']);
                $("#form_mantencion").find('input, textarea, button, select').attr('disabled',true);
                $("#form_mantencion_detalle").find('input, textarea, button, select').attr('disabled',false);
                //$("#boton_form").attr('disabled',true);
                if ($("#id_tipo_mantencion").val() === "2"){
                    $("#prox_man").show();
                }
                else{
                    $("#prox_man").hide();
                }

            }
          });
        });

        $("#repuesto_add").on('click',function () {
            var rep = $("#id_repuesto")[0].outerHTML;
            console.log(rep);
            var n = $('input[name="repuesto"]').length;
            var repuesto_nuevo = $("#id_repuesto").parent().parent().html();
            $("#before").before("<div id=rep_"+n+" class='form-group pull-in clearfix'><div class='col-sm-12'>"+rep+"</div></div>");
        });

        $("#repuesto_less").on('click',function () {
            var n = $('input[name="repuesto"]').length;
            if (n > 1){
                n = n - 1;
                $("#rep_"+n).remove();
            }
        });

        $("#form_mantencion_detalle").on('submit',function (event) {
            event.preventDefault();
            var componente = $("#id_componente").val();
            var des_detalle = $("#id_des_detalle").val();
            var prox_man = $("#prox_man").val();

            var datos_detalle = $("#form_mantencion_detalle :hidden").serialize();
            var datos = datos_detalle+"&componente="+componente+"&hodometro_prox_man="+prox_man+"&des_detalle="+des_detalle;
            $.ajax({
                url: "{% url 'mantencion_add_detalle' %}",
                type: "POST",
                data: datos,
                success:function(data){
                    console.log(data);
                    //-->NECESARIO $("#id_detalle_mantencion").val(data['pk']);
                    $('input[name="repuesto"]').each(function () {
                        var value = $( this ).val();
                        var datos_repuesto = datos_detalle+"&detalle_mantencion="+data['pk']+"&repuesto="+value;
                        console.log(datos_repuesto);
                        $.ajax({
                            url: "{% url 'mantencion_add_repuesto' %}",
                            type: "POST",
                            data: datos_repuesto,
                            success: function (data) {
                                if (data['status'] === 'ok'){
                                    var repuestos = "";
                                    var cont = 0;
                                    $('input[name="repuesto"]').each(function () {
                                        var value_rep = $( this ).val();
                                        if (cont === 0){
                                            repuestos = value_rep;
                                        }
                                        else{
                                            repuestos = repuestos+", "+value_rep;
                                        }
                                        cont++;

                                    });
                                    if (prox_man === ""){
                                        $("#tabla_detalle").append("<tr><td>"+componente+"</td><td>"+des_detalle+"</td><td>"+repuestos+"</td><td></td></tr>");
                                    }
                                    else{
                                        $("#tabla_detalle").append("<tr><td>"+componente+"</td><td>"+des_detalle+"</td><td>"+repuestos+"</td><td>"+prox_man+" km</td></tr>");
                                    }
                                    $("#id_componente").val("");
                                    $("#id_des_detalle").val("");
                                    $("#id_hodometro_prox_man").val("");
                                    $('input[name="repuesto"]').each(function () {
                                        $( this ).val("");
                                    });
                                    var n = $('input[name="repuesto"]').length;
                                    while (n > 1){
                                        n = n - 1;
                                        $("#rep_"+n).remove();
                                    }
                                }
                            }
                        });
                    })
                }
            });


        });

        $("#finalizar").on('click',function () {
           window.location.replace("{% url 'mantencion_list' %}");
        });

    /*$('#id_monto').priceFormat({
        prefix: '',
        centsSeparator: ',',
        thousandsSeparator: '.',
        centsLimit: 0
    });*/
    </script>

{% endblock %}