{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Detalle Máquina</h2>
                      <ul class=" nav navbar-right panel_toolbox">
                        <li><button type="button" onclick="location.href='{% url 'maquina_update' pk=object.id %}';" class="btn btn-primary" >Editar</button>
                        </li>
                          <li><button type="button" onclick="location.href='{% url 'maquina_delete' pk=object.id %}';" class="btn btn-danger">Eliminar</button>
                        </li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="col-xs-6 col-md-6">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Nombre:</th>
                                  <td>{{ object.nombre }}</td>
                                </tr>
                                <tr>
                                  <th>Clasificacion:</th>
                                  <td>{{ object.clasificacion }}</td>
                                </tr>
                                <tr>
                                  <th>Compania:</th>
                                  <td>{{ object.compania }}</td>
                                </tr>
                                <tr>
                                  <th>Marca:</th>
                                  <td>{{ object.marca }}</td>
                                </tr>
                                <tr>
                                  <th>Modelo:</th>
                                  <td>{{ object.modelo }}</td>
                                </tr>
                                <tr>
                                  <th>Año:</th>
                                  <td>{{ object.ano }}</td>
                                </tr>
                                <tr>
                                  <th>Numero motor:</th>
                                  <td>{{ object.numero_motor }}</td>
                                </tr>
                                <tr>
                                  <th>Numero chasis:</th>
                                  <td>{{ object.numero_chasis }}</td>
                                </tr>
                                <tr>
                                  <th>BIN:</th>
                                  <td>{{ object.bin }}</td>
                                </tr>
                                <tr>
                                  <th>Patente:</th>
                                  <td>{{ object.patente }}</td>
                                </tr>
                                <tr>
                                  <th>Conductores:</th>
                                  <td>
                                  {% for conductor in maquina.conductor.all %}
                                    {{ conductor.nombre }} /
                                  {% endfor %}
                                  </td>
                                </tr>
                                <tr>
                                  <th>Kilometraje:</th>
                                  <td>{{ object.kilometraje }}</td>
                                </tr>
                                <tr>
                                  <th>Hodometro:</th>
                                  <td>{{ object.hodometro }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th style="width:50%">Vencimiento Patente:</th>
                                  <td>{{ object.venc_patente }}</td>
                                </tr>
                                <tr>
                                  <th>Costo Patente:</th>
                                  <td>{{ object.costo_patente }}</td>
                                </tr>
                                <tr>
                                  <th>SOAP Costo:</th>
                                  <td>{{ object.soap_costo }}</td>
                                </tr>
                                <tr>
                                  <th>Vencimiento revisión técnica:</th>
                                  <td>{{ object.venc_rev_tec }}</td>
                                </tr>
                                <tr>
                                  <th>Costo revisión técnica:</th>
                                  <td>{{ object.costo_rev_tec }}</td>
                                </tr>
                                <tr>
                                  <th>Costo seguro automotriz:</th>
                                  <td>{{ object.costo_seg_auto }}</td>
                                </tr>
                                <tr>
                                  <th>Vencimiento seguro automotriz:</th>
                                  <td>{{ object.venc_seg_auto }}</td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

{% endblock %}