
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Cambio de neumaticos </h2>
                      <ul class=" nav navbar-right panel_toolbox">
                        <li><button type=button onclick="location.href='{% url 'neumaticos_create' %}';" class="btn btn-success">Nuevo Cambio</button>
                        </li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                    <div class="x_content">
                  </div>
                  <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Compañía</th>
                          <th>Máquina</th>
                          <th>Fecha</th>
                          <th>Kilometraje</th>
                          <th>Hodometro</th>
                          <th>Marca</th>
                          <th>Modelo</th>
                          <th>Medidas</th>
                          <th>Proveedor</th>
                          <th>Valor</th>
                          <th>Responsable</th>
                        </tr>
                      </thead>


                      <tbody>

                        {% for neumaticos in object_list %}
                        <tr>
                            <td></td>
                            <td>{{ neumaticos.compania }}</td>
                            <td>{{ neumaticos.maquina }}</td>
                            <td>{{ neumaticos.fecha }}</td>
                            <td align="right">{{ neumaticos.kilometraje }}</td>
                            <td align="right">{{ neumaticos.hodometro }}</td>
                            <td>{{ neumaticos.marca }}</td>
                            <td>{{ neumaticos.modelo }}</td>
                            <td>{{ neumaticos.medidas }}</td>
                            <td>{{ neumaticos.proveedor }}</td>
                            <td align="right">{{ neumaticos.valor }}</td>
                            <td>{{ neumaticos.responsable }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/datatables.scroller.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Datatables -->
    <script>

        $(document).ready(function() {
            $('#datatable-responsive').DataTable();
        });
    </script>

    <script>
       $('td button').click(function(e) {
            e.preventDefault()
            var name = $(this).attr('name');
            var tableRow = $(this).parents('tr');
            var value = $(this).attr('value').replace('.','');
            //console.log(name);
            var url_delete = '/transaccion_eliminar/' + value + '/';
            if (confirm('Quieres eliminar esta transaccion?')) {
                $.ajax({
                    url: url_delete,
                    success: function() {
                        if (name == 'delete'){
                              tableRow.remove();
                        }
                    }
                });
            } else {
               return false;
            }
       });
    </script>

    <!-- /Datatables -->

{% endblock content %}
