{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 id="titulo">Parte de Combustible</h2>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                    <div class="col-xs-12 col-md-12">
                      <div>
                        <form id="form-busqueda" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'reporte_combustible_list_view' %}" method="post">{% csrf_token %}
                          <div class="form-group pull-in clearfix">
                          {% if user.usuariocomp.tipo == '2' or user.usuariocomp.tipo == '3' %}
                            <div class="col-sm-1">
                              <label style="text-align:left;" class="control-label col-sm-12" for="{{ compania.id_for_label }}">Compañía </label>
                            </div>
                            <div class="col-sm-3">
                              <select class="form-control" name="compania" id="id_compania">
                                {% for compania in companias_list %}
                                  {% if compania.id == datos_list.compania %}
                                    <option value="{{ compania.id }}" selected="selected">{{ compania }}</option>
                                  {% else %}
                                    <option value="{{ compania.id }}">{{ compania }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                          {% endif %}
                            <div class="col-sm-1">
                              <label style="text-align:left;" class="control-label col-sm-12" for="{{ compania.id_for_label }}">Máquina </label>
                            </div>
                            <div class="col-sm-2">
                              <select class="form-control" name="maquina" id="maquina">
                                {% for maquina in maquinas_list %}
                                  {% if maquina.id == datos_list.maquina %}
                                    <option value="{{ maquina.id }}" selected="selected">{{ maquina }}</option>
                                  {% else %}
                                    <option value="{{ maquina.id }}">{{ maquina }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-sm-1">
                              <label style="text-align:left;" class="control-label col-sm-6" for="{{ mes.id_for_label }}">Mes </label>
                            </div>
                            <div class="col-sm-2">
                              <select class="form-control" name="mes" id="mes">
                                {% for mes in meses_list %}
                                  {% if mes == datos_list.mes %}
                                    <option value="{{ mes }}" selected="selected">{{ mes }}</option>
                                  {% else %}
                                    <option value="{{ mes }}">{{ mes }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-sm-2">
                              <button type="submit" class="btn btn-success">Buscar</button>
                            </div>
                            {% if datos_list.mensaje %}
                              <div class="col-sm-5">
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                  </button>
                                  {{ datos_list.mensaje }}
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        </form>
                      </div>
                      <div class="table-responsive">
                        <table id="datatable-responsive" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th colspan="4">CARRO: {{ datos_list.nombre }}</th>
                              <th colspan="4">PATENTE: {{ datos_list.patente }}</th>
                              <th colspan="3">MES: {{ datos_list.mes }}</th>
                              <th colspan="3"></th>
                              <th colspan="3"></th>
                              <th colspan="1"></th>
                            </tr>
                            <tr>
                              <th colspan="4"></th>
                              <th colspan="4" align="center">CONSUMO PETROLEO</th>
                              <th colspan="3">KILOMETRAJE RECORRIDO</th>
                              <th colspan="3">HORAS BOMBA</th>
                              <th colspan="3">HORAS MOTOR</th>
                              <th colspan="1"></th>
                            </tr>
                            <tr>
                              <th align="center">Nº</th>
                              <th align="center">Día</th>
                              <th align="center">Servicio</th>
                              <th align="center">Direccion acto</th>
                              <th align="center">Petróleo Anterior</th>
                              <th align="center">Petróleo colocado</th>
                              <th align="center">Petróleo Consumo</th>
                              <th align="center">Petróleo Actual</th>
                              <th align="center">Km actual</th>
                              <th align="center">Km anterior</th>
                              <th align="center">Km diferencia</th>
                              <th align="center">Bomba actual</th>
                              <th align="center">Bomba anterior</th>
                              <th align="center">Bomba Diferencia</th>
                              <th align="center">Motor actual</th>
                              <th align="center">Motor anterior</th>
                              <th align="center">Motor Diferencia</th>
                              <th align="center">Conductor</th>
                              <!--<th align="center">Rendimiento</th>-->
                            </tr>
                          </thead>
                          <tbody>
                            {% for object in object_list %}
                            <tr>
                              <td align="right">{{ object.num }}</td>
                              <td align="right">{{ object.fecha_dia }}</td>
                              <td align="right">{{ object.clave }}</td>
                              <td align="right">{{ object.direccion }}</td>
                              <td align="right">{{ object.petroleo_anterior }}</td>
                              <td align="right">{{ object.petroleo_colocado }}</td>
                              <td align="right">{{ object.petroleo_consumo }}</td>
                              <td align="right">{{ object.petroleo_actual }}</td>
                              <td align="right">{{ object.km_actual }}</td>
                              <td align="right">{{ object.km_anterior }}</td>
                              <td align="right">{{ object.km_dif }}</td>
                              <td align="right">{{ object.bomba_actual }}</td>
                              <td align="right">{{ object.bomba_anterior }}</td>
                              <td align="right">{{ object.bomba_dif }}</td>
                              <td align="right">{{ object.motor_actual }}</td>
                              <td align="right">{{ object.motor_anterior }}</td>
                              <td align="right">{{ object.motor_dif }}</td>
                              <td align="right">{{ object.conductor }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td></td>
                              <td></td>
                              <td align="right">TOTAL</td>
                              <td align="right">{{ datos_list.km_diferencia_total }}</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td align="right"></td>
                              <td></td>
                              <td></td>
                              <td align="right">RENDIMIENTO</td>
                              <td align="right">{{ datos_list.rendimiento }}</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datatable-new/buttons.print.min.js' %}"></script>

    <!-- Datatables -->
    <script>

        $(document).ready(function() {
            /*$('#datatable-responsive').DataTable({
              "iDisplayLength": 25,
              "searching": false,
            });*/

            $('#datatable-responsive').DataTable({
              'searching': false,
              "paging":   false,
              "ordering": false,
              "info":     false,
              "language": {
                  "decimal": ",",
                  "thousands": "."
              },
              dom: 'lBfrtip',
              buttons: [
                'copy',
                //'excel',
                {
                  extend: 'excel',
                  title : $('#titulo').text(),
                  exportOptions: {
                      columns: ':visible',
                      format: {
                          body: function(data, row, column, node) {
                              data = $('<p>' + data + '</p>').text();
                              if ($.isNumeric(data.replace('.', '').replace(',','.'))){
                                data = data.replace('.', '').replace(',','.');
                                return data;
                              }
                              else{
                                return data;
                                
                              }
                          }
                      }
                  }
                }
              ]
            });
        });
    </script>

    <script type="text/javascript">

      $("#form-busqueda").submit(function(){
        if ($("#fecha_ini").val() === ""){
          $.alert({
              title: 'Cuidado!',
              content: "Debe completar fecha Inicial",
          });
          return false;
        }
        else if ($("#fecha_fin").val() === ""){
          $.alert({
              title: 'Cuidado!',
              content: "Debe completar fecha Final",
          });
          return false;
        }
        else{
          return true;
        }

      });

      $("#id_compania").change(function(){
            var compania = this.value;
            if(compania !== ""){
                var datos_form = $("#form-busqueda :hidden").serialize();
                var datos = datos_form+"&compania="+compania;
                console.log(datos);
                $.ajax({
                    url: "{% url 'get_maquinas_compania' %}",
                    type: "POST",
                    data: datos,
                    success: function (data) {
                        $("#maquina").empty();
                        for(var i in data.maquinas) {
                            if(data.maquinas[i].id !== null && data.maquinas[i].nombre !== null){
                                $("#maquina").append("<option value="+data.maquinas[i].id+">"+data.maquinas[i].nombre+"</option>");
                            }
                            
                        }
                    }
                });
            }
        });

    </script>



{% endblock %}