
{% extends 'production/base.html' %}

{% block content %}

{% load staticfiles %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="row tile_count">
                    <div class="col-md-4 col-sm-4 tile_stats_count">
                      <span class="count_top"><i class="fa fa-money"></i> Total Ingresos Globales</span>
                      <div class="count green">$ {{ total_ig }}</div>
                      <span class="count_bottom"><i class="green">100% </i> Ingresos</span>
                    </div>
                    <div class="col-md-4 col-sm-4 tile_stats_count">
                      <span class="count_top"><i class="fa fa-money"></i> Total Gastos Globales</span>
                      <div class="count">$ {{ total_gg }}</div>
                      <span class="count_bottom"><i class="green">100% </i> Gastos</span>
                    </div>
                    <div class="col-md-4 col-sm-4 tile_stats_count">
                      <span class="count_top"><i class="fa fa-money"></i> Saldo Total </span>
                      <div class="count">$ {{ saldo_total }}</div>
                      <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>{{ porcentaje }} % </i> Mes actual</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Tabla Transacciones </h2>
                      <ul class=" nav navbar-right panel_toolbox">
                        <li><a href="{% url 'contabilidad.views.transaccion_crear' %}" class="btn btn-default" style="color:black;">Nueva Transacción</a>
                        </li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                    <div class="x_content">

                    <div class="row">
                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <!--<input type="text" placeholder="Tipo Transaccion" class="form-control" id="col_1" name="col_1">-->
                          <select class="form-control" id="col_1" name="col_1">
                            <option>Tipo Transacción</option>
                            <option>Ingreso</option>
                            <option>Gasto</option>
                          </select>
                      </div>

                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <!--<input type="text" placeholder="Consumidor" class="form-control" id="col_2" name="col_2">-->
                          <select class="form-control" id="col_2" name="col_2">
                            <option>Usuario</option>
                              {% for user in users %}
                                <option>{{ user.name }}</option>
                              {% endfor %}
                          </select>
                      </div>

                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <!--<input type="text" placeholder="Tipo Entrada" class="form-control" id="col_4" name="col_4">-->
                          <select class="form-control" id="col_4" name="col_4">
                            <option>Tipo Entrada</option>
                              {% for entrada in entradas %}
                                <option>{{ entrada.name }}</option>
                              {% endfor %}
                          </select>
                      </div>

                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder="Fecha" class="form-control" id="col_5" name="col_5">
                      </div>
                    </div>

                  </div>
                  <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Tipo Transaccion</th>
                          <th>Consumidor</th>
                          <th>Monto</th>
                          <th>Tipo Entrada</th>
                          <th>Fecha</th>
                          <th>Descripción</th>
                          <th>Acción</th>
                        </tr>
                      </thead>


                      <tbody>

                        {% for transaccion in listado_trans %}

                        <tr>
                            <td>{{ transaccion.tipo_transaccion }}</td>
                            <td>{{ transaccion.consumidor }}</td>
                            <td align="right"> {% load humanize %} {{ transaccion.monto|intcomma }}</td>
                            <td>{{ transaccion.nombre_entrada }}</td>
                            <td>{{ transaccion.fecha|date:"Y-m-d" }}</td>
                            <td>{{ transaccion.descripcion }}</td>
                            <td>
                                <a href="{% url 'transaccion_editar' item_id=transaccion.id %}"
                                   class="btn btn-info btn-xs" ><i class="fa fa-pencil"></i>Editar
                                </a>
                                <button type="button" name="delete" value="{{ transaccion.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script type="text/javascript" src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script type="text/javascript" src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/datatables.net-scroller/js/datatables.scroller.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- Datatables -->
    <script>
        function fnFilterColumn ( i )
        {
            $('#datatable-responsive').dataTable().fnFilter(
                $("#col_"+(i+1)).val(),i
            );
        }

        $(document).ready(function() {
            $('#datatable-responsive').DataTable({
                "order": [[ 4, "desc" ]],
            });

            $('#col_5').daterangepicker({
              singleDatePicker: true,
              calender_style: "picker_4",
                format: "YYYY-MM-DD"
            }, function(start, end, label) {
              console.log(start.toISOString(), end.toISOString(), label);
              fnFilterColumn(4);
            });


            $("#col_1").change( function() { if ($( "#col_1" ).val() != "Tipo Transacción"){ fnFilterColumn(0);} else{
                $('#datatable-responsive').dataTable().fnFilter("",0);} } );
            $("#col_2").change( function() { if ($( "#col_2" ).val() != "Usuario"){ fnFilterColumn(1);} else{
                $('#datatable-responsive').dataTable().fnFilter("",1);} } );
            $("#col_4").change( function() { if ($( "#col_4" ).val() != "Tipo Entrada"){ fnFilterColumn(3);} else{
                $('#datatable-responsive').dataTable().fnFilter("",3);} } );
            $("#col_5").keyup( function() { fnFilterColumn(4); } );
        });
    </script>

    <script>
       $('td button').click(function(e) {
            e.preventDefault()
            var name = $(this).attr('name');
            var tableRow = $(this).parents('tr');
            var value = $(this).attr('value').replace('.','');
            //console.log(name);
            var url_delete = '/transaccion_eliminar/' + value + '/';
            if (confirm('Quieres eliminar esta transaccion?')) {
                $.ajax({
                    url: url_delete,
                    success: function() {
                        if (name == 'delete'){
                              tableRow.remove();
                        }
                    }
                });
            } else {
               return false;
            }
       });
    </script>

    <!-- /Datatables -->

{% endblock content %}
